@use 'resources/_config';

html{
  ::-webkit-scrollbar{
    display: none;
  }
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  min-width: 320px;
  // padding: 1.5rem;
  
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  
  a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
  }
  a:hover {
    color: #535bf2;
  }
  .logo {
    height: 6em;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
  }
  .logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
  }
  .logo.vanilla:hover {
    filter: drop-shadow(0 0 2em #f7df1eaa);
  }

  .card {
    padding: 2em;
  }

  .read-the-docs {
    color: #888;
  }

  button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
  }
  button:hover {
    border-color: #646cff;
  }
  button:focus,
  button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }

  @media (prefers-color-scheme: light) {
    :root {
      color: #213547;
      background-color: #ffffff;
    }
    a:hover {
      color: #747bff;
    }
    button {
      background-color: #f9f9f9;
    }
  }

}

nav{
  width: 100%;
  height: 10dvh;
}

.contenedor{
  width: 100%;
  background-color: #535bf2;
  height: 90vh;
  overflow: scroll;
  display: flex;
  flex-direction: row;
  justify-content:center;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 1.5rem;
  gap: 0.5rem;

  .ficha{
    width: 33%;
    height: 33dvw;
    background-color: #213547;
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

